body {
    padding: 20px;
}
#game {
    display: none;
}
.board {
    padding: 20px;
}
.board, .board-column {
    float:left;
    background-color: #344EB5;
    border-radius: 10px;
}
.board-column {
    float:left;
}
.board, .board-row {
    border: 2px solid #000;
}
.board-row {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #fff;
    margin: 5px;
}
.messages {
    clear: both;
    padding-top: 10px;
}